POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret_password
POSTGRES_PORT=5432

SQLALCHEMY_DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}

SECRET_KEY=secret_key
ALGORITHM=HS256

MAIL_USERNAME=example@mail.com
MAIL_PASSWORD=mail_password
MAIL_FROM=example@mail.com
MAIL_PORT=465
MAIL_SERVER=smtp_server

CLOUDINARY_NAME=name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret

# folder name where project images will be stored on Cloudinary repository
CLOUDINARY_FOLDER_NAME=project_web